.container {
    background-color: yellow;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    margin-left: 30%;
    gap: 3%;
    border-radius:10px;
    box-shadow: 3px 4px blueviolet;
    width: 500px;
    height: 298px;
    text-decoration: none;
    transform:translate(y)22px;
    transform: scaleY(1.03);

    

}
.image {
    position: relative;
    margin-top: 0;
    margin-bottom: -4.5px;
    margin-left: 0px;
    left:23.5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 299px;
  
  
 
    
}

h5 {
    font-family: creepster;
    align-content: center;
    margin-left: 16px;
    right: 5px;
    color: blueviolet;
    font-size: medium    ;


}



.closeButton {
   z-index: 1;
    position:absolute;
    margin-top: -6px;
    top:5px;
    right: -.69%;
    transition: color 0.3s ease;
    background-color: blueviolet;
    /* other styles */
    font-family: 'Creepster', cursive;
    border:none
}

.closeButton:hover {
    /* Add your hover styles here */
    background-color: yellow; /* Example: change background color on hover */
}

.closeButton:hover::after {
    content: "Close"; /* The text you want to display in the popup */
    position: absolute;
    background-color: #333; /* Background color of the popup */
    color: #fff; /* Text color of the popup */
    padding: 5px; /* Space between the text and the border of the popup */
    border-radius: 5px; /* Rounded corners of the popup */
    top: 100%; /* Position the popup below the button */
    transition: color 0.3s ease;

    transform: translate(-50%, 10px); /* Adjust the position of the popup */
    opacity: 0.8; /* Make the popup slightly transparent */
}