.container{
    font-family: 'Creepster', cursive;
    display: flexbox;
    position: absolute; 
    top: 0; 
    right: 3px; 
    margin-top: 2%;
    margin-right: 3%;
    text-decoration: none;
    gap: 20px;
    font-size: x-large;
}
.link {
    font-family: 'Creepster', cursive;
    text-decoration: none;
    margin-top: 2%;
    color: blueviolet;
    
}

.logo {
    width: 100%;
}


.search{
    left:10%;
    margin-left: 20px;
    margin-top: 300px;
}
/* .hamburger {
    font-family: 'Creepster', cursive;
    display: flex;
}

.largeMenu {
    font-family: 'Creepster', cursive;
    display: flex;
}

.smallMenu {
    font-family: 'Creepster', cursive;
    display: flex;
} */@media (max-width: 864px) {
    .containerInput {
        flex-direction: row;
    }
}
