@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.App {
    font-family: 'Creepster';
    font-family: 'Ysabeau Infant', sans-serif;
    
}

.backgroundImage {
    background: url('./assets/bg1.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.App.transparent {
    background: transparent;
}

.hide {
    display: none;
}