@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Ysabeau+Infant:wght@1&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: 'Creepster', cursive;
  max-width: 90%;
  flex-wrap:wrap ;
  margin-left: 15%;
  margin-right: 15%;
  text-decoration: none;
  background-color: #6ccfcb;
}

