.container {
    position: relative;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 250px;
    margin-top: 20px;
    background-color: yellow;
    font-family: 'Creepster', cursive;
    color: blueviolet;
    font-size: smaller;
}

.image {
    height: 250px;
    width: 250px;
    object-fit: cover;
    object-position: left;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.btn {
    position:absolute;
    border-radius: 5px;
    width: 25px;
    top: 10px;
    margin-left: 73%;
    cursor: pointer;
    background-color: #6ccfcb;
    transition: color 0.3s ease;
    border: none;
}

.btn:hover {
background-color: blueviolet;
}


h2 {
    font-size: medium;
    text-align: center;
    color: blueviolet;
    transition: color 0.3s ease;
    
}

h2:hover {
    color: #6ccfcb /* change to desired hover color */
}

.containerTitle {
    font-size: small;
    display: flex;
    overflow-wrap: break-word; /* wraps long words onto the next line */
   word-wrap: break-word; /* older browsers */
   word-break: break-word; 
    justify-content: space-around;
}

.btnFav {
    background-color: transparent;
    border-color: transparent;
    margin-top: 5px;
}

.h4 {
    font-size: smaller;
}