.container{
    margin-top: 50px;
    padding:20px;
    background:yellow;
    border-radius:10px;
    box-shadow: 3px 4px #ccc;
    text-align:center;
    font-size:large;
    font-weight: bolder;
    font-weight: bolder;
    width: 20%;
    margin-left: 37%;
    text-decoration: none;
    flex-wrap: wrap;
}

@media (min-width: 450px) {

    .input {
        width:45%;
        margin-left: 15%;
    }
    .container {
        width: 70%;
        margin-left: 15%;
    }
}

/* For medium desktops */
@media (min-width: 992px) {

    .input {
        width: 50%;
        margin-left: 25%;
    }

    .container {
        width: 50%;
        margin-left: 25%;
    }
}

/* For large desktops */
@media (min-width: 1200px) {

    .input {
        
        width: 70%;
        margin-left: 5%;
    }

    .container {
        width: 30%;
        margin-left: 35%;
    }
}