.title {
    color: darkviolet;
    
    text-align: center;
}

.subtitle {
    font-size: x-large;
    font-family: 'Creepster';
    color: darkviolet;
    text-shadow: darkviolet;
}

.container{
    margin-top: 50px;
    padding:20px;
    background:yellow;
    border-radius:10px;
    box-shadow: 3px 4px #ccc;
    text-align:center;
    font-size:large;
    font-weight: bolder;
    width: 20%;
    margin-left: 37%;
}