.container {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    flex-wrap: wrap;
    gap: 5%;
    margin: 4%;
    color: blueviolet;
    font-family: creepster;
    font-size: large;
    text-decoration: none;
    margin-top: 17%;
    font-size: large;
    font-family: creepster;
    text-decoration: none;

}

.h3{
    font-family: creepster;
    font-size: x-large;
    text-decoration: none;
}

@media screen and (min-width: 710px) {
    
}
