@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

.App {
    font-family: 'Creepster', cursive;
    font-family: 'Ysabeau Infant', sans-serif;
    background-color: #6ccfcb;
}